<template>
  <div class="container mx-auto py-10  bg-[url('/assets/img/home-bg-min.jpg')] bg-cover bg-no-repeat bg-center">
    <div class="grid grid-cols-12 gap-4 px-36" :class="[target ? 'ease-in duration-300 bg-white sticky top-0 py-4' : '']">
      <div class="col-span-3 flex justify-start">
        <img v-if="target" src="assets/img/logo_scroll.png" class="w-40" alt="">
        <img v-else src="assets/img/logo.png" class="w-40" alt="">
      </div>
      <div class="col-span-6 flex">
        <div class="grid grid-cols-4 gap-4 content-center justify-items-center w-full text-sm text-white font-sans font-semibold" :class="[target ? 'text-gray-600' : '']">
          <div class="cursor-pointer dd" :class="[target ? ' after:bg-gray-600' : ' after:bg-white']">NOSOTROS</div>
          <div class="cursor-pointer dd" :class="[target ? ' after:bg-gray-600' : ' after:bg-white']">SERVICIOS</div>
          <div class="cursor-pointer dd" :class="[target ? ' after:bg-gray-600' : ' after:bg-white']">PRODUCTOS</div>
          <div class="cursor-pointer dd" :class="[target ? ' after:bg-gray-600' : ' after:bg-white']">CONTACTOS</div>
        </div>

      </div>
      <div class="col-span-3 flex justify-end">
        <button class="py-5 px-6 bg-white text-blue-500 text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50 focus:outline-none">Soporte</button>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-40 px-36">
      <div class="col-span-6">
        <h1 class="text-5xl font-bold text-white">¿Quiénes Somos?</h1>
        <p class="my-8 text-xl text-white font-sans text-justify">H&E Consultores es una empresa que ofrece una variedad de servicios referente a la ingeniería de sistemas, ingeniería informática, gerencia de proyectos y aspectos financieros. Cubre la evaluación de proyectos, elaboración de documentos, capacitación, análisis, investigación y apoyo en los diseños de procesos.</p>
        <div class="flex items-center justify-between">
          <button class="py-4 px-16 bg-green-400 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50 focus:outline-none">Conocenos mejor</button>          
          <h3 class="text-white">¿Preguntas? <a href="" class="text-green-400">escribenos</a></h3>
        </div>
      </div>
      <div class="col-span-6">
        <img src="assets/img/rigth.png" alt="">
      </div>
    </div>
</div>
</template>
<script>
import { onMounted, ref } from 'vue';
export default {
  setup() {
    const target = ref(false);
        //esto escucha el scroll
        onMounted(() => {
            window.addEventListener('scroll', function () {
                if (window.scrollY > 100) {
                    target.value = true;
                } else {
                    target.value = false;
                }
            });
        });

    return {
      target
    }
  }
}
</script>
<style lang="css">
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.dd {
position: relative;
overflow: hidden;
display: inline-block;
}
.dd:after {
content: "";
position: absolute;
bottom: 0;
left: -100%;
width: 100%;
height: 2px;
transition: left .4s;
}
.dd:hover:after {
left: 0;
}
</style>
